#podatoci2 {
  float: left;
  padding-left: 300px;
}

#podatociid {
  float: left;
  padding-left: 150px;
}

#staus {
  padding-right: 300px;
  float: right;
}

#podatoci3 {
  padding-left: 39px;
  padding-top: 300px;
}

#main-heder {
  text-align: center;
  background-color: black;
  color: white;
}
#main-heder li {
  list-style: none;
  display: inline;
  padding-left: 50px;
}
#main-heder a:link {
  text-decoration: none;
  color: white;
}
#main-heder a:visited {
  text-decoration: none;
  color: white;
}
#main-heder a:hover {
  text-decoration: underline;
  color: white;
}
#main-heder a:active {
  text-decoration: underline;
  color: white;
}
#podatoci4 li {
  display: inline;
  list-style: none;
}

#podatoci4 {
  list-style: none;
  text-align: left;
  padding-bottom: 30px;
}
#podatoci4 ul {
  list-style: none;
  padding-right: 5px;
}

#podatoci5 {
  padding-left: 35px;
}
#podatoci6 li {
  display: inline;
  list-style: none;
}

#podatoci6 {
  list-style: none;
  text-align: left;
  padding-bottom: 10px;
}
#podatoci6 ul {
  list-style: none;
  padding-right: 5px;
}

#podatoci7 {
  padding-left: 39px;
  padding-top: 10px;
}
#podatoci8 {
  padding-left: 30px;
}
#mainbody {
  float: none;
}
